<nav class="navbar navbar-expand-lg navbar-light mb-4" style="border-bottom: 2px solid red;">
    <%= link_to 'PostDoc', root_path, class: 'navbar-brand' %>
    <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'Mailboxes', mailboxes_path, class: 'nav-link active' %>
      </li>
    </ul>
</nav>
